@model IEnumerable<MySite.Models.Article>
@using MySite.Models;
  <div class="row">
   @foreach (var item in Model)
    {

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- Three columns of text below the carousel -->
  
        <div class="col-lg-4">
            <img class="img-circle" src="\Content\Images\tulips.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class=""> Title</h2>
             <div class="">
                <p class=""><strong>Bacon ipsum dolor amet leberkas beef ribs velit, short loin ribeye brisket turducken aliqua strip steak culpa excepteur adipisicing. Kielbasa dolore pork loin pork aliqua leberkas. Ex ullamco cow picanha rump. Lorem tongue quis, consequat filet mignon bresaola eu capicola voluptate beef ribs labore pig</strong>.</p>

<p><em>Consequat adipisicing brisket, shoulder ribeye filet mignon tongue andouille velit. Culpa chicken fugiat, pariatur veniam pig frankfurter rump bacon ut pork belly turducken. Brisket sint ad cupim anim. Kielbasa pork chop porchetta, corned beef chuck dolore nisi meatball ut qui jerky.</em></p>

<p><u>Pork chop kevin mollit fugiat. Minim short loin drumstick incididunt duis pastrami pork belly in hamburger. Pork lorem tempor, pancetta venison ea strip steak ut. Pork pork loin sed eu nostrud alcatra rump.</u></p>

<p><span style="font-size:72px">Ut cow turkey aliquip salami ea porchetta pork belly bacon sirloin. Pork magna frankfurter drumstick aute eu. Sed fugiat cillum turducken lorem, sausage velit ullamco elit meatball. Ex culpa elit in sunt pancetta fatback sed ut ham ut tongue et. Strip steak filet mignon salami pork loin esse shankle, velit sausage dolor beef ribs exercitation et. Salami chuck in short ribs capicola.</span></p>

<p>Hamburger consectetur cillum chicken ipsum kevin, non swine. Cillum id nostrud nisi ground round. Flank tail commodo pancetta jowl eu qui exercitation. Lorem leberkas nulla in. Laboris bacon doner pig sirloin pancetta brisket short ribs kielbasa nostrud pastrami tail. Tempor anim pork chop beef swine.</p>

            
                     
            </div>
              

        </div><!-- /.col-lg-4 -->

 
      
    }
  <!-- /.row -->
   </div>