
@{
    ViewBag.Title = "LandlordHome";
    Layout = "~/Views/Shared/_LayoutPage_Master.cshtml";
}
    <div class="container">
<h2>Landlord Home</h2>

Create New Listing
<a href="/Listing/Create">Create New Listing</a>

My Listings
</div>