
@{
    ViewBag.Title = "LandlordHome";
    Layout = "~/Views/Shared/_LayoutPage_Master.cshtml";
}
    <div class="container">
<h2>Landlord Home</h2>


<a href="/Listing/Create">Create New Listing</a>
<a href="/Listing/MyListings">My Listings</a>

</div>